<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>
    
    <p>
        Splurty was built by <a target="Raphael Madu" href="https://raphaelmaduportfolio.netlify.com">Raphael</a>. He is on a mission to be the one of the best web developers an also spread his love for web development
    </p>
    <br />
    
    <p>
        If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
    </p>

<div class="row">
    <div class="col-12 col-sm-4">
    <%= image_tag 'Raphael.jpg', class: 'raphael-img' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
      <hs class="tex-center">Raphael Madu</h2>
      <br />
      <p>
      Raphael Madu is a Second year Mechanical Engineeering Student who is currently pursuing his degree in Bachelor of Applied Sciences
      </p>
    </div>
   </div>
   
   
</div>
  
  
<br class="clear" />
<br />
<br />
<br />
<br />   



